@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4" style="font-weight:450">Welcome Student Portal!</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core Entity Frame Work</a>.</p>
    <p>Design By <a href="https://github.com/dhruvrathod29" target="_blank">Dhruv Rathod</a></p>
</div>
